services:
  php:
    container_name: php-container
    build:
      context: ./docker/php
    ports:
      - "9000:9000"
    volumes:
      - .:/var/www/project
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - nginx-php-database
    healthcheck:
      test: ["CMD", "php", "-v"]
      interval: 10s
      timeout: 5s
      retries: 3

  nginx:
    container_name: nginx-container
    build:
      context: ./docker/nginx
    ports:
      - "${NGINX_PORT}:80"
    volumes:
      - .:/var/www/project:ro
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    restart: always
    depends_on:
      php:
        condition: service_healthy
    networks:
      - nginx-php-database

  postgres:
    container_name: postgres-container
    build:
      context: ./docker/postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - database_data:/var/lib/postgresql/data:rw
    networks:
      - nginx-php-database

volumes:
  database_data:

networks:
  nginx-php-database:
    driver: bridge